In [1]:
"""
Separation between title and years.
"""
def formater_titre(titre):
    return titre.replace(')','').split("(",2)

In [2]:
import sqlite3

"""
Create a Connection object
using the connect() function of the sqlite3 module.
"""

db = sqlite3.connect('BDD/moviesdb.db')

"""
Create a Cursor object 
by calling the cursor() method of the Connection object.
"""

cursor = db.cursor()

""""
Pass to the execute() method of the Cursor 
object and execute this method (sql query).
"""

a = cursor.execute("SELECT title, AVG(rating) AS moyenne FROM movies m, ratings r WHERE m.movieId=r.movieID GROUP BY title ORDER BY moyenne DESC LIMIT 5 ")

"""
Fetches all the rows of a query result.
It returns all the rows as a list of tuples
"""

result1 = a.fetchall()



b = cursor.execute("SELECT tag, count(tag) as nombre FROM tags GROUP by tag ORDER by nombre DESC LIMIT 10")

result2 = b.fetchall()

c = cursor.execute("SELECT title FROM movies WHERE genres LIKE '%thriller%' LIMIT 20 ")

result3 = c.fetchall()

#Save and commit the change.
db.commit()

#Close the cursor
cursor.close()

#Close the connection.
db.close()


print(" \n \n  Film avec les plus hautes moyennes :   : \n")


for element in result1:
    titre=formater_titre(element[0])
    titre.append(element[1]) 
    print("_________________________________________________________________________")
    print("{:60}|{:5}|{:5}".format(*titre))
    
    
print(" \n \n Nombre de fois que ce tag est apparue : \n")

for element in result2:  
    print("_________________________________________________________________________")
    print("{:25}|{:20}".format(*element))

print(" \n \n Exemple de Film avec au moins le genre Thriller : \n")

for element in result3:
    print("____________________________________________")
    print("{:1}|".format(*element))

  Film avec les plus hautes moyennes :   :

_________________________________________________________________________
Zeitgeist: Moving Forward                                   |2011 |  5.0
_________________________________________________________________________
Wow! A Talking Fish!                                        |1983 |  5.0
_________________________________________________________________________
World of Glory                                              |1991 |  5.0
_________________________________________________________________________
Wonder Woman                                                |2009 |  5.0
_________________________________________________________________________
Won't You Be My Neighbor?                                   |2018 |  5.0


 Nombre de fois que ce tag est apparue :

_________________________________________________________________________
In Netflix queue         |                 131
_________________________________________________________________________
atmospheric              |                  36
_________________________________________________________________________
thought-provoking        |                  24
_________________________________________________________________________
superhero                |                  24
_________________________________________________________________________
surreal                  |                  23
_________________________________________________________________________
funny                    |                  23
_________________________________________________________________________
Disney                   |                  23
_________________________________________________________________________
religion                 |                  22
_________________________________________________________________________
sci-fi                   |                  21
_________________________________________________________________________
quirky                   |                  21


 Exemple de Film avec au moins le genre Thriller :

____________________________________________
Heat (1995)|
____________________________________________
GoldenEye (1995)|
____________________________________________
Money Train (1995)|
____________________________________________
Get Shorty (1995)|
____________________________________________
Copycat (1995)|
____________________________________________
Assassins (1995)|
____________________________________________
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)|
____________________________________________
To Die For (1995)|
____________________________________________
Seven (a.k.a. Se7en) (1995)|
____________________________________________
Usual Suspects, The (1995)|
____________________________________________
Eye for an Eye (1996)|
____________________________________________
Lawnmower Man 2: Beyond Cyberspace (1996)|
____________________________________________
From Dusk Till Dawn (1996)|
____________________________________________
Screamers (1995)|
____________________________________________
Crossing Guard, The (1995)|
____________________________________________
Juror, The (1996)|
____________________________________________
Nick of Time (1995)|
____________________________________________
Mary Reilly (1996)|
____________________________________________
Broken Arrow (1996)|
____________________________________________
City Hall (1996)|

### Sous Sqlite3

### A-Film avec les plus hautes moyennes :

![Sql Query2](Img_Python_BDD/B.png)

### B-Nombre de fois que ce tag est apparue :

![Sql Query3](Img_Python_BDD/C.PNG)

### C-Exemple de Film avec au moins le genre Thriller :

![Sql Query](Img_Python_BDD/D.PNG)